.div{
    margin: 4em auto;
    padding: 40px 20px;
    width: 40vw;
    border: 1px solid rgba(48, 42, 42,.3);
    background-image: linear-gradient(to bottom right, rgba(99, 96, 96, 0.5),rgb(231, 191, 191), rgb(8, 8, 1));
    /* text-align: center; */
    box-shadow: black 0px 10px 10px 0px;
}
.label{
 font-weight: 2em;
 padding: 5px 10px;
}
.h2{
    text-align: center;
}
.input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button{
    padding: 4px 7px;
    cursor: pointer;
    border: 2px solid rgba(80, 76, 76,0);
    background-color: rgb(24, 19, 19);
    color: wheat;
}
.button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}
@media (max-width:500px){
    .div{
        width:70vw;
        /* margin:10px */
    }
}