{% extends 'index.html' %}

{% block head %}
<title>Edit Mobile</title>
{% endblock %}

{% block body %}
<h1>Editing Mobile</h1>
<form action="/mobiles/edit/{{mobile.id}}" method="POST" class="form">
    <label>Name : </label><input type="text" name="name" id="name" value={{mobile.name}}><br>
    <label>Ram : </label><input type="text" name="ram" id="ram" value={{mobile.ram}}><br>
    <label>Storage : </label><input type="text" name="storage" id="storage" value={{mobile.storage}}><br><br>
    <input type="submit"  value="Edit Phone">
</form>
{% endblock %}